.bondDetailsLayout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 1em;
	margin-top: 3em;
	width: 100%;
}

.bondDetailsLayout .bondDetailsContent {
	margin-top: 2em;
	width: 1000px;
	column-gap: 2em;
	display: grid;
	grid-template-columns: 65% 35%;
}

.bondDetailsLayout .bondDetailsContent .column {
	flex: 1 1 auto;
}

.bondDetailsLayout .bondDetailsContent .titleLine {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bondDetailsLayout .bondDetailsContent .titleLine .side {
	column-gap: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.bondDetailsLayout .bondDetailsContent .nodes {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 1em;
	column-gap: 1em;
}

.bondDetailsLayout .bondDetailsContent .value {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5em;
}

.bondDetailsLayout .bondDetailsContent .value .orange {
	color: #E38723;
	-webkit-text-stroke: #FEA047 1px;
}

.bondDetailsLayout .bondDetailsContent .value .violet {
	color: #EE4082;
	-webkit-text-stroke: #FF68A1 1px;
}

.bondDetailsLayout .bondDetailsContent .value .pink {
	color: #FFBED7;
	-webkit-text-stroke: #FFE4EE 1px;
}

.bondDetailsLayout .bondDetailsContent .value .blue {
	color: #07A6EE;
	-webkit-text-stroke: #3FC2FF 1px;
}

.bondDetailsLayout .bondDetailsContent .value .key {
	vertical-align: middle;
	text-transform: capitalize;
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #ABB7CA;
}

.bondDetailsLayout .bondDetailsContent .value .val {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
	color: #F8FAFF;
}