.nodeCardLayout {
	background: radial-gradient(62.58% 62.58% at 18.62% 20.83%, rgba(222, 53, 255, 0.120269) 0%, rgba(222, 53, 255, 6e-05) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(0, 0, 0, 0.102082) 100%), #052A61;
	border: 1px solid #0D407F;
	border-radius: 16px;
	border: 1px solid #0D407F;
	padding: 16px;
	/* height: max-content; */
}

.nodeCardLayout .titalBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nodeCardLayout .titalBar .leftSide {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.nodeCardLayout .titalBar .leftSide .title {
	font-family: 'Days One', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	color: #F8FAFF;
}

.nodeCardLayout .values {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 1em 0 2em 0;
	width: 100%;
	column-gap: 1em;
}