.amountInputLayout {
	position: relative;
}

.amountInputLayout .amountInputStyle {
	color: #ABB7CA;
	outline: none;
	background: linear-gradient(180deg, rgba(82, 110, 152, 0) 0%, rgba(82, 110, 152, 0.1) 100%), linear-gradient(0deg, #001744, #001744), linear-gradient(180deg, #001744 0%, #042158 100%);
	border-radius: 12px;
	border: 1px solid #0D407F;
	border-image-source: linear-gradient(0deg, #0D407F, #0D407F), linear-gradient(0deg, rgba(37, 180, 255, 0.1), rgba(37, 180, 255, 0.1));
	padding: 10px 10px 10px 52px;
	appearance: textfield;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	width: calc(100% - 62px);
	/* height: 40px; */
}

.amountInputLayout .amountInputLogo {
	position: absolute;
	left: 10px;
	top: 3px;
}

.amountInputLayout .maxButton {
	background: linear-gradient(0deg, rgba(227, 85, 255, 0.1), rgba(227, 85, 255, 0.1)), linear-gradient(180deg, #08326D 0%, #0E4281 100%);
	border: 1px solid #32578A;
	box-shadow: inset 0px 0px 0px 8px rgba(232, 235, 243, 0.03);
	border-radius: 10px;
	outline: none;
	font-family: 'Days One', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	right: 2px;
	top: 4px;
	padding: 8px 12px;
	cursor: pointer;
}