body {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  background: radial-gradient(circle, #001744 0%, #000A29 100%);
  color: #F8FAFF;
}

h2 {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: capitalize;
  color: #F8FAFF;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Days One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  color: #F8FAFF;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: 'Days One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  color: #F8FAFF;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F8FAFF;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

p {
  line-height: 1;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  margin-top: 36px;
}

#modalContainer {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}